tests/bin
includes/s65/bin
includes/**/bin
./bin
build/aseparse65/node_modules/.package-lock.json
build/aseparse65/node_modules/
build/m65debugger/package-lock.json
build/m65debugger/node_modules/
bin/main.prg
bin/main.vs
bin/sdcard/

docs/logodraft.png
splash/logo.png
splash/make.bat
splash/splash.s
splash/bin/logo_chars.bin
splash/bin/logo_ncm.bin
splash/bin/logo_palette.bin
splash/bin/splash.vs
